<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      I love Kebab
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar placeholder="KEBABS" (ionChange)="findPlace($event)" [debounce]="500"></ion-searchbar>

  <div #map id="map"></div>
  <!-- <ion-button expand="full" (click)='toggleMarker()'>Toggle animation</ion-button> -->
  <ion-button expand="full" (click)='showNearbyPlaces()'>Show K E B A B S</ion-button>
  <ion-button expand="full" (click)="requestPermission()">Request Permission</ion-button>
  <ion-button expand="full" (click)="deleteToken()">Delete Token</ion-button>
</ion-content>
